<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="kBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.1460.0.41" newVersion="14.1460.0.41" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <kBackup.Properties.Settings>
      <setting name="windowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="dataFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="userFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="userApi" serializeAs="String">
        <value>https://{0}.zendesk.com/api/v2/users/me.json</value>
      </setting>
      <setting name="categoryApi" serializeAs="String">
        <value>https://{0}.zendesk.com/api/v2/help_center/categories.json</value>
      </setting>
      <setting name="sectionApi" serializeAs="String">
        <value>https://{0}.zendesk.com/api/v2/help_center/categories/{1}/sections.json</value>
      </setting>
      <setting name="articleApi" serializeAs="String">
        <value>https://{0}.zendesk.com/api/v2/help_center/sections/{1}/articles.json</value>
      </setting>
      <setting name="articleCommentApi" serializeAs="String">
        <value>https://{0}.zendesk.com/api/v2/help_center/articles/{1}/comments.json</value>
      </setting>
      <setting name="topicApi" serializeAs="String">
        <value>https://{0}.zendesk.com/api/v2/community/topics.json</value>
      </setting>
      <setting name="postApi" serializeAs="String">
        <value>https://{0}.zendesk.com/api/v2/community/topics/{1}/posts.json</value>
      </setting>
      <setting name="postCommentApi" serializeAs="String">
        <value>https://{0}.zendesk.com/api/v2/community/posts/{1}/comments.json</value>
      </setting>
      <setting name="domain" serializeAs="String">
        <value />
      </setting>
      <setting name="email" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
    </kBackup.Properties.Settings>
  </userSettings>
</configuration>